header,nav,section,footer{
    background-color: lightblue;
    border-style: 1;
    margin: 10px;
    width: 90%;
    padding: 20px;
    display: block;
    border-radius: 10px;
    /*-moz-border-radius:"22px";*/
    /*-webkit-border-radius:"22px";*/
}

footer:hover{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}
article{
    background-color: rgb(118, 129, 133);
    border-style: 1;
    margin: 10px;
    width: 90%;
    padding: 20px;
    display: block;
    border-radius: 10px;
}
.centering{
    width: 90%;
    border-style: 1;
    border-radius: 10px;
}
.mascotas{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin: 10px;
    border-radius: 10px;
}
